@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  transition: all 0.2s ease-in-out;
}

body {
  background: #6c63ff;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #fff; /* Improved text contrast */
}

.card {
  background: #fdfdfd;
  border-radius: 4px;
  height: 85vh;
  width: 80vw;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Adjusted box shadow for depth */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
}

@media only screen and (min-width: 1000px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

@media only screen and (max-height: 640px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

img.birthday {
  max-height: 40vh;
}

.text {
  padding: 1em;
  color: #333; /* Adjusted text color */
}

.muted {
  opacity: 0.8;
}

.space {
  height: 100px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body.play-music {
  animation: fadeIn 2s ease-in-out; /* Adjust the animation duration and timing function as needed */
}